<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
<style type="text/css">
    header {
        background: #5C87D3;
        border-bottom: 2px solid #3761AB;
        margin-bottom: 2em;
    }

    h1 {
        margin-top: 0;
        padding: 10px 0;
        font-family: 'Open Sans', sans-serif;
    }

    legend {
        font-family: 'Open Sans', sans-serif;
    }
</style>


<header>
    <h1 class="container">Registered Partner Application</h1>
</header>

<section class="container" id="form-container">
    <div class="well">In order for us to understand you, your company and your needs, we are keen to learn more about you and your company. The more data you provide, the better we will understand exactly what to offer you. Please fill out the details in the application form below, giving as much detail as you can.</div>

    <form class="form-horizontal" id="registered-partner-form" novalidate>
        <fieldset>
            <legend>Company Contact Details</legend>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="companyName">*Company Name</label>

                <div class="col-sm-10"><input class="form-control" id="companyName" name="companyName" placeholder="Company Name" required="" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="tradingName">
                    Trading name<br />
                    (if different)
                </label>

                <div class="col-sm-10"><input class="form-control" id="tradingName" name="tradingName" placeholder="Trading name" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="address">*Address </label>

                <div class="col-sm-10"><input class="form-control" id="address" name="address" placeholder="Address" required="" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="postcode">*Postcode </label>

                <div class="col-sm-4"><input class="form-control" id="postcode" name="postcode" placeholder="Postcode" required="" type="text" /></div>
                <label class="col-sm-2 control-label" for="phone">*Phone </label>

                <div class="col-sm-4"><input class="form-control" id="phone" name="phone" placeholder="Phone" required="" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="mainName">*Main contact Full Name </label>

                <div class="col-sm-10"><input class="form-control" id="mainName" name="mainName" placeholder="Main contact Full Name" required="" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="mainMobile">Main contact Mobile number </label>

                <div class="col-sm-4"><input class="form-control" id="mainMobile" name="mainMobile" placeholder="Main contact Mobile number" type="text" /></div>
                <label class="col-sm-2 control-label" for="mainPhone">Main Contact Phone number - Direct Dial </label>

                <div class="col-sm-4"><input class="form-control" id="mainPhone" name="mainPhone" placeholder="Main Contact Phone number - Direct Dial" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="companyRegistration">Company Registration Number </label>

                <div class="col-sm-10"><input class="form-control" id="companyRegistration" name="companyRegistration" placeholder="Company Registration Number" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="isVATradio">*Are you VAT registered? </label>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">
                            <input id="isVATradio" name="isVATradio" data-title="Are you VAT registered?" required="" type="radio" value="yes" />Yes
                            <input id="optionsRadios2" name="isVATradio" required="" data-title="Are you VAT registered?" type="radio" value="no" />No
                        </label>
                    </div>
                </div>
                <label class="col-sm-4 control-label" for="vatNumber">VAT Number (if applicable) </label>

                <div class="col-sm-4"><input class="form-control" id="vatNumber" name="vatNumber" placeholder="Main Contact Phone number - Direct Dial" type="text" /></div>
            </div>
        </fieldset>

        <fieldset>
            <legend>About your Company</legend>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="numberEmployees">*Number of employees </label>

                <div class="col-sm-2"><input class="form-control" id="numberEmployees" name="numberEmployees" placeholder="Number of employees" required="" type="number" /></div>
                <label class="col-sm-2 control-label" for="annualTurnover">Annual turnover </label>

                <div class="col-sm-6"><input class="form-control" id="annualTurnover" name="annualTurnover" placeholder="Annual turnover" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="aboutCompany">Tell us a bit about your company and your field of expertise </label>

                <div class="col-sm-10"><textarea id="aboutCompany" class="form-control" name="aboutCompany" placeholder="Tell us a bit about your company and your field of expertise"></textarea></div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="doFabricate">*Does your company fabricate </label>

                <div class="col-sm-9"><input class="form-control" id="doFabricate" name="doFabricate" placeholder="Does your company fabricate" required="" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="doInstall">Do you install or subcontract, or both </label>

                <div class="col-sm-9"><input class="form-control" id="doInstall" name="doInstall" placeholder="Do you install or subcontract, or both" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="doTechnical">*Do you have a technical department </label>

                <div class="col-sm-9"><input class="form-control" id="doTechnical" name="doTechnical" placeholder="Do you have a technical department" required="" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="doDesign">*Do you design your own work </label>

                <div class="col-sm-9"><input class="form-control" id="doDesign" name="doDesign" placeholder="Do you design your own work" required="" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="validEmployerRadio">*Do you hold valid Employer Liability insurance? </label>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">
                            <input id="validEmployerRadio" name="validEmployerRadio" data-title="Do you hold valid Employer Liability insurance?" required="" data-title="" type="radio" value="yes" /> Yes
                            <input id="optionsRadios2" name="validEmployerRadio" required="" data-title="Do you hold valid Employer Liability insurance?" type="radio" value="no" /> No
                        </label>
                    </div>
                </div>
                <label class="col-sm-2 control-label" for="identityLimit">*Indemnity limit? </label>

                <div class="col-sm-4"><input class="form-control" id="identityLimit" name="identityLimit" placeholder="Indemnity limit?" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="PublicLiabilityRadio">*Do you hold valid Public Liability insurance? </label>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">
                            <input id="PublicLiabilityRadio" name="PublicLiabilityRadio" required="" data-title="Do you hold valid Public Liability insurance?" type="radio" value="yes" /> Yes
                            <input id="optionsRadios2" name="PublicLiabilityRadio" required="" data-title="Do you hold valid Public Liability insurance?" type="radio" value="no" /> No
                        </label>
                    </div>
                </div>
                <label class="col-sm-2 control-label" for="PublicLiability">*Indemnity limit? </label>

                <div class="col-sm-4"><input class="form-control" id="PublicLiability" name="PublicLiability" placeholder="Indemnity limit?" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="ProfessionalIndemnityRadio">*Do you hold valid Professional Indemnity Insurance? </label>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">
                            <input id="ProfessionalIndemnityRadio" name="ProfessionalIndemnityRadio" required="" data-title="Do you hold valid Professional Indemnity Insurance?" type="radio" value="yes" /> Yes
                            <input id="optionsRadios2" name="ProfessionalIndemnityRadio" required="" data-title="Do you hold valid Professional Indemnity Insurance?" type="radio" value="no" /> No
                        </label>
                    </div>
                </div>
                <label class="col-sm-2 control-label" for="ProfessionalIndemnity">*Indemnity limit? </label>

                <div class="col-sm-4"><input class="form-control" id="ProfessionalIndemnity" name="ProfessionalIndemnity" placeholder="Indemnity limit?" type="text" /></div>
            </div>
        </fieldset>

        <fieldset>
            <legend>About how we can collaborate</legend>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="based">*Where are you based and what areas can you cover? </label>

                <div class="col-sm-10"><input class="form-control" id="based" name="based" placeholder="Where are you based and what areas can you cover?" required="" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="installedOurProducts">*Have you installed our products before? </label>

                <div class="col-sm-10"><input class="form-control" id="installedOurProducts" name="installedOurProducts" placeholder="Have you installed our products before?" required="" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="installedSimilarProducts">*Do you install similar products? If so please state below </label>

                <div class="col-sm-10"><textarea class="form-control" id="installedSimilarProducts" name="installedSimilarProducts" placeholder="Do you install similar products? If so please state below" required=""></textarea></div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="inputPassword3">*What size scale of projects are you interested in installing? </label>

                <div class="col-sm-10">
                    <div class="btn-group btnssize" data-toggle="buttons">
                        <label class="btn btn-primary active " data-placement="top" data-toggle="tooltip" title="(one-off Juliet Balcony)">
                            <input autocomplete="off" checked="checked" name="size" data-title="What size scale of projects are you interested in installing?" type="radio" value="small" /> Small
                        </label>
                        <label class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="(Small Glass Balustrades and more than one Juliet Balcony)">
                            <input autocomplete="off" name="size" type="radio" data-title="What size scale of projects are you interested in installing?" value="medium" /> Medium
                        </label>
                        <label class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="(Large Glass Balustrades and more than one Juliet Balcony)">
                            <input autocomplete="off" name="size" type="radio" data-title="What size scale of projects are you interested in installing?" value="large" /> Large
                        </label>
                    </div>
                    <input name="sizeX" type="hidden" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="experience">What experience do you have in the building industry?</label>

                <div class="col-sm-10"><textarea class="form-control" id="experience" name="experience" placeholder="What experience do you have in the building industry?"></textarea></div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label" for="attendingSeminar">*Would you be interested in attending a Seminar (the seminar will include technical, sales and product information and training) here at Balcony Systems Headquarters (RH7 6JP)? </label>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">
                            <input id="attendingSeminar" name="attendingSeminar" required="" data-title="Would you be interested in attending a Seminar?" type="radio" value="yes" /> Yes &nbsp;&nbsp;&nbsp;
                            <input id="optionsRadios2" name="attendingSeminar" required="" data-title="Would you be interested in attending a Seminar?" type="radio" value="no" /> No
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group ifyes">
                <label class="col-sm-3 control-label" for="weekdayOrWeekend">*If yes, would you prefer this on a weekday or weekend? </label>

                <div class="col-sm-9"><input class="form-control" id="weekdayOrWeekend" name="weekdayOrWeekend" placeholder="If yes, would you prefer this on a weekday or weekend?" type="text" /></div>
            </div>

            <div class="form-group ifnot">
                <label class="col-sm-3 control-label">*If not interested in a seminar, are you interested in:</label>
                <label class="col-sm-4 control-label">Balcony Products Sales Training</label>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">
                            <input id="optionsRadios1" name="notInterestedSales" required="" data-title="Are you interested in Balcony Products Sales Training?" type="radio" value="yes" /> Yes &nbsp;&nbsp;&nbsp;
                            <input id="optionsRadios2" name="notInterestedSales" required="" data-title="Are you interested in Balcony Products Sales Training?" type="radio" value="no" /> No
                        </label>
                    </div>
                </div>
                <label class="col-sm-4 control-label">Balcony Products installation Training?</label>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">
                            <input id="optionsRadios1" name="notInterestedInstallation" required="" data-title="Are you interested in Balcony Products installation Training?" type="radio" value="yes" /> Yes &nbsp;&nbsp;&nbsp;
                            <input id="optionsRadios2" name="notInterestedInstallation" required="" data-title="Are you interested in Balcony Products installation Training?" type="radio" value="no" /> No
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>About Your Marketing</legend>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="haveWebsite">*Do you have a website? If so what is Website address? </label>

                <div class="col-sm-9"><input class="form-control" id="haveWebsite" name="haveWebsite" placeholder="Do you have a website? If so what is Website address?" required="" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="haveFB">Do you have a Facebook page? If so what is the address? </label>

                <div class="col-sm-9"><input class="form-control" id="haveFB" name="haveFB" placeholder="Do you have a Facebook page? If so what is the address?" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="haveTW">Do you use Twitter in your business? If so what is your Twitter name? </label>

                <div class="col-sm-9"><input class="form-control" id="haveTW" name="haveTW" placeholder="Do you use Twitter in your business? If so what is your Twitter name?" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="haveGP">Do you have a Google Plus page? If so what is the address? </label>

                <div class="col-sm-9"><input class="form-control" id="haveGP" name="haveGP" placeholder="Do you have a Google Plus page? If so what is the address?" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="haveShowroom">Do you have a showroom </label>

                <div class="col-sm-9"><input class="form-control" id="haveShowroom" name="haveShowroom" placeholder="Do you have a showroom" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="showroomSize">Approx. size? </label>

                <div class="col-sm-9"><input class="form-control" id="showroomSize" name="showroomSize" placeholder="Approx. size?" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="interestedInDisplayin">If you have a showroom would you be interested in displaying our products? Or would you like a literature stand? </label>

                <div class="col-sm-9"><input class="form-control" id="interestedInDisplayin" name="interestedInDisplayin" placeholder="If you have a showroom would you be interested in displaying our products? Or would you like a literature stand?" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="haveDatabase">Do you have a database of customers? </label>

                <div class="col-sm-9"><input class="form-control" id="haveDatabase" name="haveDatabase" placeholder="Do you have a database of customers?" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="useEmailmkt">Do you use email marketing? </label>

                <div class="col-sm-9"><input class="form-control" id="useEmailmkt" name="useEmailmkt" placeholder="Do you use email marketing?" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="haveAdvertise">Do you advertise? Online/offline </label>

                <div class="col-sm-9"><input class="form-control" id="haveAdvertise" name="haveAdvertise" placeholder="Do you advertise? Online/offline" type="text" /></div>
            </div>

            <div class="form-group">
                <label class="col-sm-12 " for="howMarket">How do you market your company? (Give us a little bit of data on how you get customers or what marketing you do). </label>

                <div class="col-sm-12"><textarea class="form-control" id="howMarket" name="howMarket" placeholder=""></textarea></div>
            </div>

            <div class="form-group">
                <label class="col-sm-12 " for="comments">
                    Lastly, is there anything else you would like to ask, or think we should know, or would like us to provide to you?<br />
                    Please state below:
                </label>

                <div class="col-sm-12"><textarea class="form-control" id="comments" name="comments" placeholder=""></textarea></div>
            </div>
        </fieldset>

        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-12"><button id="btn-submit" class="k-button">Submit</button></div>
        </div>
    </form>
</section>






<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var isSubmitted = false;

        $("#registered-partner-form").submit(function(e) {
            e.preventDefault();

            if (isSubmitted)
                return false;

            var body = "";
            var isvalid = true;
            $("input, textarea").each(function () {
                var id = $(this).attr("id");
                var type = $(this).attr("type");
                var val = $(this).val();
                var req = $(this).attr("required");
                if (req && !val) {
                    isvalid = false;
                    $(this).addClass("input-validation-error");
                    return;
                } else {
                    $(this).removeClass("input-validation-error");
                }


                if (!val)
                    return;

                var name = "";

                if (type == "radio") {
                    if ($(this).prop("checked")) {
                        name = $(this).attr("data-title");
                    } else {
                        return;
                    }
                } else {
                    if (id) {
                        var label = $('label[for="' + id + '"');
                        if (label.length) {
                            name = label.text();
                        }
                    }
                }

                name = $.trim(name);
                body += '<p>' + name + ' - ' + $(this).val() + '</p>';
            });

            if (isvalid) {
                isSubmitted = true;
                $("#btn-submit").addClass("k-state-disabled");
                $.post("/general/send-email",
                    {
                        to: "sales@balconette.co.uk",
                        subject: "Registered Partner Form Submit",
                        body: '<html><body>' + body + '</body></html>'
                    }, function(data) {
                        $("#form-container").html('<h2>Thank you for submiting your details.</h2>');
                    }
                );
            } else {
                alert("Please make sure all required fields are valid");
            }

            return false;
        });
    });
</script>